// normalisation du code css
@import "normalize";


@import "mixin";
@import "variable";
@import "function";

// importation de la typographie
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;700;900&display=swap');

body{
    @include fontFamily();
}

// reglage de la position du menu


// reglage du header
.head{
    width: 100%;
    &__title{
        text-align: center;
        box-shadow: 1px 1px 5px rgba(#000, 1);
        font-family: 'Shrikhand', sans-serif;
        font-size: 2rem;
        margin: 0;
        padding: 15px;
    }
    &__localisation{
        background-color: #c9c7c750;
        font-size: 1.2rem;
        height: 50px;
        @include flexCenter(row);
    }
}
.fa-map-marker-alt:before {
    content: "\f3c5";
    margin-right:22px ;
}
.head-text{
    font-weight: 700;
}

// reglage du main
.main-bloc{
    padding: 2.5rem;
    background-color: #fafafaea;
    font-size: 1.3rem;
    text-align: center;
    &__title{
        font-weight: bold;
        font-size: 1.7rem;
    }
    &__paragraph{
        opacity: .5;
    }
}

// reglage du bouton

.search{
    border: none;
    margin: 20px;
  &__btn{
    background-image: linear-gradient($primary-color, $secondary-color);
    border: none;
    height: 60px;
    border-radius: 30px;
    color: #FFF;
    padding: 0 20px;
  }
}