@use "normalize";
@import "mixin";
@import "variable";
@import "function";

// importation de la typographie
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;700;900&display=swap');

body{
   /* font-family: $text-font; */
}
li{
    list-style: none;
}
// logo
header{
    width: 100%;
    nav{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        .logo{
            font-family: $logTitre-font;
        }
    }
    .fa-arrow-left{
        position: absolute;
        left: 0;
        top: 5px;
    }
}
